/* * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  .title {
    background-color: #404e7c;
    color: #fef9ef;
    text-align: center;
    padding: 1rem;
    font-size: 1.5em;
    z-index: 1;
  } */
  /* orgchart css */
  .org-chart {
    height: calc(100vh - 60px);
  }
  .org-chart > svg {
    height: 100%;
    background-color: #eaeaea;
  }
  .node-container {
    min-height: 140px;
    background-color: #babb6d;
    color: #227c9d;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }
  .node-container-issuer {
    min-height: 140px;
    background-color: #6d88bb;
    color: #227c9d;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }
  .node-container-domain {
    min-height: 140px;
    background-color: #945d94;
    color: #227c9d;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }
  .node-container-class {
    min-height: 140px;
    background-color: #a0a090;
    color: #227c9d;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }
  .node-container-badge {
    min-height: 140px;
    background-color: #f38653;
    color: #227c9d;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }
  .node-details {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .node-content {
    display: flex;
  }
  .node-team {
    width: 100%;
    text-align: center;
  }
  .node-team-name {
    margin-bottom: 0.5rem;
    color: #fef9ef;
    font-size: 1.5rem;
  }
  .node-team-member-img {
    width: 30px;
    height: 30px;
    margin: 0.2rem;
    border-radius: 50%;
  }
  .node-img {
    width: 90px;
    border-radius: 1rem;
  }
  .node-info {
    margin-left: 1.5rem;
    color: #fef9ef;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .node-name {
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .node-role {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  .node-department {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #ffcb77;
    border-radius: 1rem;
    color: #227c9d;
  }
  .node-department > svg {
    margin-right: 0.5rem;
  }
  .expand-btn {
    width: 30px;
    height: 30px;
    margin: auto;
    color: #227c9d;
    background-color: #fef9ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
  }
  .plus-btn {
    width: 30px;
    height: 30px;
    margin: auto;
    color: #227c9d;
    background-color: #fef9ef;
    display: flex;
    justify-content: center;
    align-items: left;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
  }
  .expand-btn > span:last-child {
    display: flex;
  }
  .plus-btn > span:last-child {
    display: flex;
  }
  
  /* card css */
  .diagram-card-plus-btn {
    position: absolute;
    top: 290px;
    right: 40px;
    width: 25px;
    height: 25px;
    color: #227c9d;
    background-color: #fef9ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #227c9d;
    cursor: pointer;
  }
  .diagram-card-info-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    color: #227c9d;
    background-color: #fef9ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #227c9d;
    cursor: pointer;
  }
  /* card css */
  .diagram-card-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    color: #227c9d;
    background-color: #fef9ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #227c9d;
    cursor: pointer;
  }
  .diagram-card-minus-btn {
    position: absolute;
    top: 290px;
    right: 10px;
    width: 25px;
    height: 25px;
    color: #227c9d;
    background-color: #fef9ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #227c9d;
    cursor: pointer;
  }
  .diagram-card-edit-btn {
    position: absolute;
    top: 290px;
    right: 70px;
    width: 25px;
    height: 25px;
    color: #227c9d;
    background-color: #fef9ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #227c9d;
    cursor: pointer;
  }
  .diagram-card-domain {
    position: absolute;
    top: -45px;
    left: 150px;
    width: 30%;
    height: 45%;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card-issuer {
    position: absolute;
    top: -45px;
    left: 150px;
    width: 30%;
    height: 85%;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card-class {
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: -45px;
    left: 150px;
    width: 25%;
    height: 20%;
    justify-content: center;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card {
    position: absolute;
    top: -45px;
    left: 150px;
    width: 25%;
    height: 34%;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card-del {
    position: absolute;
    top: -45px;
    left: 150px;
    width: 15%;
    height: 15%;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card-add {
    position: absolute;
    top: -45px;
    left: 150px;
    width: 25%;
    height: 35%;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card-edit {
    position: absolute;
    top: -45px;
    left: 150px;
    width: 25%;
    height: 35%;
    padding: 2rem;
    margin: 10rem;
    background-color: #fef9ef;
    border-radius: 1rem;
    border: 1px solid #d3d3d3;
  }
  .diagram-card-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  .diagram-card-img {
    width: 120px;
    border-radius: 1rem;
  }
  .diagram-card-name {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .diagram-card-role {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  .diagram-card-body {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .diagram-card-item {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
  }
  .diagram-card-item-label {
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .diagram-card-item-value {
    text-align: justify;
  }
  .diagram-card-item-team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .diagram-card-item-img {
    width: 50px;
    height: 50px;
    margin: 0.2rem;
    border-radius: 50%;
  }
  .diagram-card-item-name {
    margin-left: 0.5rem;
    font-weight: bold;
  }
  .diagram-card-item-role {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  